#about {
    h1 {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 45px;
    }

    .text__content {
        font-family: 'Arial, sans-serif';
        font-size: 16px;
        color: #282828;
        line-height: 20px;

        p {
            padding-bottom: 10px;
        }
    }

    .text__menu {
        margin-right: 40px;
        float: left;

        .text__menu-title {
            border-bottom: 1px solid #dbdbdb;
            padding: 16px 24px 16px 20px;
            font-size: 20px;
            line-height: 26px;
            font-weight: bold;
            display: block;
            font: bold 26px 'Open Sans Condensed', sans-serif;
            text-decoration: none;
            color: #000;
        }

        .text__menu-tab {
            border-bottom: 1px solid #dbdbdb;
            display: block;
            width: 260px;
            color: #148f6a;
            padding: 16px 35px;
            border-right: 1px solid #dbdbdb;

            span {
                font: 20px 'Open Sans Condensed', sans-serif;
                line-height: 30px;
            }
        }

        .activetab {
            background: #0F9675;
            cursor: auto;
            position: relative;
            color: white;
        }

    }

    .text__content_rules {
        font-family: 'Arial, sans-serif';
        font-size: 16px;
        color: #282828;
        line-height: 20px;

        p {
            padding-bottom: 10px;
        }

        ul {
            list-style: disc outside;
            padding-left: 20px;

            li {
                margin: 10px 0;
                padding: 8px;
            }
        }
    }

    .text__wrapper {
        overflow: hidden;

        .text__title {
            padding-bottom: 41px;

            h1 {
                font-family: "Open Sans Condensed", sans-serif;
                font-weight: 700;
                font-size: 42px;
                color: #000000;
                line-height: 45px;
            }
        }

        .text__content {
            font-family: 'Arial, sans-serif';
            font-size: 16px;
            color: #282828;
            line-height: 20px;

            h3 {
                font-size: 24px;
            }

            p {
                padding-bottom: 10px;
            }
        }
    }

    .contact-form {
        background: #fff;
        border: 2px solid #f4f4f4;
        box-shadow: 0 4px 24px rgba(225, 225, 225, .25);
        border-radius: 10px;
        padding: 24px;

        .form {
            form {
                .row {
                    flex-wrap: wrap;

                    h1 {
                        font-weight: 500;
                        font-size: 38px;
                        color: #28283c;
                        margin-bottom: 30px;
                    }

                    .input-wrapper {
                        .form-group {
                            margin-bottom: 15px;

                            label {
                                margin-bottom: 10px;
                                font-weight: 600;
                                color: #2f2f2f;
                            }

                            input {
                                display: block;
                                width: 100%;
                                background: #fcfbfb;
                                border: 1px solid #f4f4f4;
                                box-shadow: none;
                                border-radius: 5px;
                                margin: 0;
                                padding: 13px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #201f1d;
                                outline: none;

                                &:focus {
                                    background-color: white;
                                }
                            }

                            textarea {
                                outline: none;
                                display: block;
                                width: 100%;
                                height: 120px;
                                resize: none;
                                background: #fcfbfb;
                                border: 1px solid #f4f4f4;
                                box-shadow: none;
                                border-radius: 5px;
                                margin: 0;
                                padding: 13px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #201f1d;

                                &:focus {
                                    background-color: white;
                                }
                            }
                        }
                    }
                }

                .contact-btn {
                    transition: 0.5s;
                    background-color: #201f1d;
                    border: 1px solid #201f1d;
                    box-shadow: inset 0 0 0 #fff;
                    color: #fff;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 16px;
                    padding: 12px 15px;
                    text-align: center;

                    &:hover {
                        background-color: #fff;
                        border: 1px solid #201f1d;
                        box-shadow: inset 0 70px 0 0 #fff;
                        color: #201f1d;
                    }
                }
            }
        }
    }



}